@model List<ReferralSystem.ServiceContracts.JobViewModel>
@{
    ViewBag.Title = "EmployeeLanding";
    Layout = "~/Views/Shared/EmployeeLayout.cshtml";

}

<script src="~/Scripts/toastr.js"></script>
<link type="text/css" rel="stylesheet" href="~/Content/toastr.css" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="col-md-10 col-md-offset-1 well " style="background-color:white;">
    <div class="col-md-6">
        <h2>Jobs</h2>
    </div>
</div>
<div style="clear:both"></div>
<div class="col-md-10 col-md-offset-1 container" style="overflow-y:scroll; height:550px;">
    @foreach (var item in Model)
    {
        <div class="row well" style="background-color: #e6e4c2">
            <div class="row well" style="background-color: #e1dfb6">
                <div class="col-md-1" style="padding:5px;">
                    <i class="fa fa-black-tie" style="font-size:40px;color:#333;"></i>
                </div>
                <div class="col-md-9" style="font-size:20px; margin-top:15px;">
                    <text>@item.Post</text>

                </div>
                <div class="col-md-2">

                    <div class="text-center">
                        <button type="button" class="btn" data-toggle="modal" data-target="#myModal" onclick="referModal('@item.JobID')">Refer</button>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-5 col-md-offset-1">
                    <div class="row">
                        <div class="col-md-2" style="padding:5px;">
                            <i class="fa fa-inr" style="font-size:30px;color:#333;"></i>
                        </div>
                        <div class="col" style="font-size:15px; margin-top:10px;">
                            <text>@item.Bonus</text>
                            Referral Bonus
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2" style="padding:5px;">
                            <i class="fa fa-handshake-o" style="font-size:30px;color:#333;"></i>
                        </div>
                        <div class="col" style="font-size:15px; margin-top:10px;">
                            <text>@item.Experience</text> Years of Experience Required
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="row">
                        <div class="col-md-2" style="padding:5px;">
                            <i class="fa fa-table" style="font-size:30px;color:#333;"></i>
                        </div>
                        <div class="col" style="font-size:15px; margin-top:10px;">
                            <text>@item.Vacancy</text> Vacancies Left

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2" style="padding:5px;">
                            <i class="fa fa-file" style="font-size:30px;color:#333;"></i>
                        </div>
                        <div class="col" style="font-size:15px;margin-top:10px;">
                            <text>@item.Description</text>
                        </div>
                    </div>
                </div>
                
            </div>
            
                
            

        </div>
   

    }
    </div>

    <script>

$(document).ready(function(){
    $("#referSubmit").click(function () {
        var data = new FormData();
        data.append("FirstName", $("#firstName").val());
        data.append("MiddleName", $("#middleName").val());
        data.append("LastName", $("#lastName").val());
        data.append("Email", $("#email").val());
        data.append("Experience", $("#experience").val());
        data.append("PhoneNumber", $("#phoneNumber").val());
        data.append("Location", $("#location").val());
        data.append("JobID", $("#jobID").val());
        data.append("DOB", $("#DOB").val());
        data.append("EmployeeID", @Session["UserID"]);

        var files = $("#postedFile").get(0).files;
        if (files.length > 0) {
            data.append("postedFile", files[0]);
        }

        $.ajax({
            type: "POST",
            url: "@Url.Action("Refer", "Refer")",
            contentType: false,
            processData: false,
            data: data,
            success: function (data) {
                toastr.options = {
                    "closeButton": true,
                    "debug": false,
                    "newestOnTop": false,
                    "progressBar": false,
                    "positionClass": "toast-top-center",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "timeOut": "5000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                }
                toastr["info"](data.message, "Notification");

            },

        });
    });
});

function referModal(item) {
    var ID = document.getElementById('jobID');
    ID.value = item;
    if (item == 1)
        document.getElementById("experience").disabled = true;
    else
        document.getElementById("experience").disabled = false;
}


function myFunction() {
    document.getElementById("myForm").reset();
}

    </script>

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog" aria-hidden="true" tabindex="-1">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" onclick="myFunction()">&times;</button>
                    <h4 class="modal-title">Refer Candidate</h4>
                </div>
                <form id="myForm">
                    <fieldset>
                        <div class="modal-body">

                            <div class="form-group">
                                <label class="control-label col-sm-3">Name* </label>
                                <div class="col-sm-3 text-center">
                                    <input type="text" class="form-control" id="firstName" name="firstName" placeholder="First" value="" required>
                                </div>
                                <div class="col-sm-3 text-center">
                                    <input type="text" class="form-control" id="middleName" placeholder="Middle" value="">
                                </div>
                                <div class="col-sm-3 text-center">
                                    <input type="text" class="form-control" id="lastName" placeholder="Last" value="" required>
                                    <br />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-3">Email*</label>
                                <div class="col-sm-9">
                                    <input type="email" class="form-control" id="email" placeholder="example@example.com" value=""  required>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-3">Experience</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="experience" placeholder="years" value="">
                                    <br />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-3">DOB</label>
                                <div class="col-sm-9">
                                    <input type="date" class="form-control" id="DOB" value="" max="1999-01-01">
                                    <br />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-3">Phone</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="phoneNumber" placeholder="eg:95582xxxx1" value="" required>
                                    <br />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-3">Location</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="location" placeholder="City" value="" required>
                                    <br />
                                </div>
                            </div>
                            <input type="hidden" id="jobID" />
                            <div class="form-group">
                                <label class="control-label col-sm-3">Resume</label>
                                <div class="col-sm-9">
                                    <input type="file" name="postedFile" id="postedFile" value="" />
                                    <br />
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <div class="modal-footer">
                        <button class="btn btn-default" data-dismiss="modal" onclick="myFunction()">Cancel</button>
                        <button type="button" class="btn" id="referSubmit" data-dismiss="modal" value="Submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
