@model List<ReferralSystem.ServiceContracts.LeaderboardViewModel>
@{
    ViewBag.Title = "Leaderboard";
    Layout = "~/Views/Shared/HRLayout.cshtml";
    var trophyCount = 0;
    var prevScore = -1;
}
<style>
    .icon-big {
        font-size: 200%;
        display: block;
        margin-bottom: 10px;
        color: #e67e22;
    }
</style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div class="col-md-10 col-md-offset-1 well" style="background-color:white;">
    <h2 style="">Leaderboard</h2>
</div>
<div class="col-md-10 col-md-offset-1 well" style="background-color:#e6e4c2">
    <div style="overflow-y:scroll; height:500px;">
        <table class="table" id="leaderboardtable">
            <thead>
                <tr>
                    <th align="center">Position</th>
                    <th align="center">Employee Name</th>
                    <th align="center">Score</th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tr>
                    @{ if (prevScore != Convert.ToInt16(@item.Score))
                        { trophyCount++; }
                        switch (trophyCount)
                        {
                            case 1:
                    <td><i class="fa fa-trophy" style="color:gold;font-size:15px;"></i></td>break;
                            case 2:
                    <td><i class="fa fa-trophy" style="color:silver;font-size:15px;"></i></td>break;
                            case 3:
                    <td><i class="fa fa-trophy" style="color:#cd7f32;font-size:15px;"></i></td>break;

                            default:
                    <td>@trophyCount</td> break;
                        }
                    }

                    <td>@Html.ActionLink(

                    linkText: item.EmployeeName,
                    actionName: "EmployeeProfile",
                    controllerName: "Employee_Profile",
                    routeValues: new { EmployeeID = item.EmployeeID },
                    htmlAttributes: new { target = "_blank" }
                    )</td>
                    <td>@item.Score</td>
                    @{

                        prevScore = Convert.ToInt16(@item.Score);
                    }
                </tr>
            }
        </table>
    </div>
</div>

